.about-page {
  display: flex;
  gap: 20px;
  height: auto;
}
.gap {
  gap: 20px;
}
@media (max-width: 768px) {
  .about-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px 0 10px;
  }
}
.left-card {
  display: flex;
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 15px;
}
.about-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.about-bakery {
  display: flex;
  height: auto;
}
.about-btn {
  display: flex;
  padding: 10px;
  background-color: rgb(245, 192, 95);
  border: none;
  outline: none;
}
@media (max-width: 768px) {
  .about-bakery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px 0 10px;
  }
}
