.component-five {
  display: flex;
  background-color: #fff;
  height: 300px;
}
.hero-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.b-g-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://static.wixstatic.com/media/3cdf51_e2b7f437fea5488c96414e223687d32f~mv2.jpg/v1/fill/w_980,h_641,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/3cdf51_e2b7f437fea5488c96414e223687d32f~mv2.jpg");
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .hero-image {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .b-g-image {
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
  }
}
