.component-seven {
  display: flex;
  height: 300px;
  background-color: #ececee;
}
@media (max-width: 768px) {
  .component-seven {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading00 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.sort-line {
  width: 55px;
  height: 1px;
  background-color: #808286;
}
.input-box {
  display: flex;
  gap: 15px;
}
.bottom-border {
  border: none;
  border-bottom: 1px solid #808286;
  outline: none;
  background-color: #ececee;
}
.bottom-width {
  display: flex;
  border: none;
  border-bottom: 1px solid #808286;
  width: 58%;
  height: 100px;
  outline: none;
  background-color: #ececee;
  padding-top: 10px;
}
.bottom-width::placeholder {
  color: #666;
}
.bottom-longborder {
  border: none;
  border-bottom: 1px solid #808286;
  width: 58%;
  outline: none;
  background-color: #ececee;
}
