.component-two {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .component-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .img {
    width: 75%;
    height: auto;
    border-radius: 10px;
  }
}
.men-image {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.img {
  border-radius: 10px;
  height: 380px;
  border-radius: 10px;
}
.under-line {
  display: flex;
  align-self: center;
  width: 90px;
  height: 1px;
  background-color: #808286;
  margin-bottom: 20px;
}
.bakery-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  font-size: 13px;
  text-align: center;
  color: #808286;
  font-family: "Poppins" sans-serif;
}
