.contact {
  display: flex;
  flex-direction: column;
  height: auto;
}

.contact-bg-img {
  width: 100%;
  height: 78vh;
  background-image: url("https://static.wixstatic.com/media/3cdf51_ca74c46e43db437e8415864b8f6b7ebd~mv2.jpg/v1/fill/w_882,h_641,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/3cdf51_ca74c46e43db437e8415864b8f6b7ebd~mv2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.bottom-container {
  display: flex;
  background-color: #f8f9f8;
  height: 400px;
  padding: 10px;
  gap: 50px;
}
@media (max-width: 760px) {
  .contact-bg-img {
    width: 100%;
    height: 300px;
    background-position: top;
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .right-contact-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    text-align: center;
  }
}
.add-img {
  flex: 1;
  max-width: 300px;
  max-height: 300px;
}
.bottom-container .common {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.right-contact-card {
  align-items: flex-end;
  justify-content: center;
}
.left-contact-card {
  gap: 10px;
  justify-content: center;
}
.left-contact-card .img-container {
  display: flex;
  width: 100%;
  max-height: 130px;
  gap: 10px;
}
.imag {
  position: relative;
  top: 0;
  left: 0;
  filter: brightness(100%);
  transition: 0.4s ease;
  max-width: 140px;
  height: 130px;
  border-radius: 5px;
}
.imag:hover {
  filter: brightness(60%);
  cursor: pointer;
  background-color: #5e5f61;
}

.white {
  display: flex;
  gap: 20px;
  height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.white .map {
  background-image: url("https://static.wixstatic.com/media/48c7ae_5dbeb29630444b29bc8261b487a7a61c~mv2.jpeg/v1/fill/w_577,h_458,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/WhatsApp%20Image%202025-01-22%20at%2023_26_47.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}
.yellow {
  display: flex;
  background-color: #ffdb89;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.yellow h3 {
  color: #404144;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 21px;
}
