.component-eight {
  display: flex;
  padding: 30px 0 30px 0;
  background-color: #9bcfcc;
}
.flex-1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.flex-1 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-1 ul li {
  list-style: none;
  font-size: 13px;
}
