.background-image {
  background-image: url("https://static.wixstatic.com/media/3cdf51_32af57e2509740329a5bfbd407e1dc62f000.jpg/v1/fill/w_1068,h_677,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/3cdf51_32af57e2509740329a5bfbd407e1dc62f000.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  gap: 10px;
}
.lo-go {
  width: 150px;
  height: 150px;
}
@media (max-width: 768px) {
  .background-image {
    background-attachment: scroll !important;
    height: auto;
    min-height: 300px;
  }
  .lo-go {
    width: 130px;
    height: 120px;
  }
  .mid-text {
    text-align: center;
  }
}
.mid-line {
  width: 200px;
  height: 1px;
  background-color: #646363;
}

.mid-text {
  position: relative;
  letter-spacing: 0.4em;
  color: black;
  font-size: 15px;
  font-family: "open sans" sans-serif;
  font-weight: bold;
  z-index: 20;
  background: transparent;
}
.left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  font-size: 75px;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  z-index: 20;
  line-height: 1.2;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); /* gives soft glow */
}
.para {
  color: white;
  font-weight: 600;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: rgb(252, 165, 5);
}
.no {
  color: #fff;
}
.btn {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  border-radius: 20px;
}
.btn:hover {
  background-color: darkgoldenrod;
  color: #fff;
}
.right-container {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  flex: 1;
  padding-right: 50px;
  justify-content: flex-end;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
