.userinfo-page {
  display: flex;
  width: 100%;
  height: 90vh;
  background: linear-gradient(to bottom, #dff3f2, #ffffff);
}
@media (max-width: 768px) {
  .userinfo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-detail {
    display: flex;
    align-items: center;
    justify-items: center;
  }
}
.user-image {
  display: flex;
  flex: 1;
  width: 70%;
  height: 90%;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.imageMen {
  border-radius: 10px;
  height: 90%;
}
.user-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  flex: 1;
}
